RewriteEngine On
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://coderware.co.uk
<IfModule mod_headers.c>
Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS
Header set Content-Security-Policy "default-src 'none'; font-src 'self' https://fonts.gstatic.com; img-src 'self' www.googletagmanager.com data: www.google-analytics.com media-exp1.licdn.com static-exp2.licdn.com; object-src 'none'; script-src 'self' 'unsafe-eval' 'unsafe-inline' www.google-analytics.com www.googletagmanager.com platform.linkedin.com badges.linkedin.com static-exp2.licdn.com; style-src 'self' 'unsafe-inline' fonts.googleapis.com static-exp1.licdn.com static-exp2.licdn.com; frame-ancestors 'none'; base-uri 'none'; form-action 'self'; connect-src 'self' www.google-analytics.com"
Header set Referrer-Policy "no-referrer, strict-origin-when-cross-origin"
Header set X-Content-Type-Options "nosniff"
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"
</IfModule>
ServerSignature Off


# https://mozilla.github.io/server-side-tls/ssl-config-generator/
